<!-- app/views/cocktails/show.html.erb -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= render "cocktails/cocktail_card", cocktail: @cocktail %>
      <br>
      <div class="text-center">
        <%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary btn_width" %>
      </div>
      <br>
      <ul class="list-unstyled">
      <% @cocktail.doses.each do |dose| %>
        <li>
        <%= dose.description %>
        <%= dose.ingredient.name %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
